<div class="row">
	<a class="col-lg-3 col-xs-6" href="/devices/">
    	<div class="small-box bg-teal">
			<div class="inner">
				<h3>5<sup style="font-size: 20px"> of 27</sup></h3>
				<p>Lights</p>
            </div>
			<div class="icon">
				<i class="ion ion-lightbulb"></i>
			</div>
			
		</div>
	</a>
	
	<a class="col-lg-3 col-xs-6" href="/devices/">
		<div class="small-box bg-green">
			<div class="inner">
				<h3>
					<span class="inner" id='temperatureId'>23,4 </span>
					<sup style="font-size: 20px">&deg;C</sup> 
				</h3>
				
				<p>Temparature</p>
            </div>
			<div class="icon">
				<i class="ion ion-thermometer"></i>
			</div>
		</div>
	</a>
	
	<a class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    44
                </h3>
                <p>
                    Garden
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </a><!-- ./col -->
    <a class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    On
                </h3>
                <p>
                    Heating
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-fireball"></i>
            </div>
        </div>
    </a><!-- ./col -->
	 <a class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-black">
            <div class="inner">
                <h3>
					&nbsp;
				</h3>
                <p>
					Water tank
				</p>
            </div>
            <div class="icon">
                <input type="text" class="knob" data-readonly="true" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" value="30" data-width="90" data-height="90" data-fgColor="#ffec03	"/>
            </div>
        </div>
    </a><!-- ./col -->
	 <a class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-orange">
            <div class="inner">
                <h3>
                    On
                </h3>
                <p>
                    Devices
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-network"></i>
            </div>
        </div>
    </a><!-- ./col -->
</div>

<script type="text/javascript">
	 var conn;
	
	$(function() {
		if (window["WebSocket"]) {
			
        conn = new WebSocket("ws://"+ window.location.host +"/ws");
        conn.onclose = function(evt) {
            alert("<div><b>Connection closed.</b></div>")
        }
        conn.onmessage = function(evt) {
            $('#temperatureId').text(evt.data);
        }
    } else {
        alert("<div><b>Your browser does not support WebSockets.</b></div>")
    }
	
	});
</script>
