<div class="row">
	<div class="col-lg-3 col-xs-6">
    <!-- small box -->
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>5<sup style="font-size: 20px"> of 27</sup></h3>
				<p>Lights</p>
            </div>
			<div class="icon">
				<i class="ion ion-lightbulb"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	
	<div class="col-lg-3 col-xs-6">
    <!-- small box -->
		<div class="small-box bg-green">
			<div class="inner">
				<h3>23,2<sup style="font-size: 20px">&deg;C</sup></h3>
				<p>Temparature</p>
            </div>
			<div class="icon">
				<i class="ion ion-thermometer"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	
 <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        44
                                    </h3>
                                    <p>
                                        Garden
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        On
                                    </h3>
                                    <p>
                                        Heating
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-fireball"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
						 <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-pink">
                                <div class="inner">
                                    <h3>
                                        On
                                    </h3>
                                    <p>
                                        some new devices
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-fireball"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
						 <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-orange">
                                <div class="inner">
                                    <h3>
                                        On
                                    </h3>
                                    <p>
                                        Devices
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-fireball"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
</div>
